.reporter-info {
  width: 80%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px; }
  .reporter-info .reporter-content {
    padding-left: 20px; }
    .reporter-info .reporter-content .reporter-line {
      padding: 10px 5px; }
      .reporter-info .reporter-content .reporter-line li {
        list-style: none; }
      .reporter-info .reporter-content .reporter-line lable {
        display: inline-block; }
      .reporter-info .reporter-content .reporter-line .normal-lable {
        width: 135px;
        margin-left: 20px; }
      .reporter-info .reporter-content .reporter-line .text-lable input {
        width: 300px;
        margin-left: 20px; }
      .reporter-info .reporter-content .reporter-line .input-text {
        margin-left: 20px; }

.finish-survey {
  padding-top: 40px;
  text-align: center;
  height: 20px;
  clear: both; }
